# deps
node_modules
.pnpm-store

# next
.next
out
build

# misc
.DS_Store
*.pem
*.tsbuildinfo

# env
.env
.env*.local

# local media uploads (prod uses Vercel Blob)
/media

# typescript
next-env.d.ts
